@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-gray: #ccc;
	--color-coffe: #c78c19;
    --color-green: #088c19;
}

header {
	background: var(--color-gray);
	padding: 20px 0;
}

.caja {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

.navbar {
	position: absolute;
	top: 110px;
	right: 0;
}

.navbar li {
	display: inline;
	margin: 0 0 0 15px;
}

.navbar a {
	text-transform: uppercase;
	color: var(--color-black);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.navbar a:hover {
	color: var(--color-coffe);
	text-decoration: underline;
}

.products {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 50px;
}

.products li {
	display: inline-block;
	text-align: center;
	widows: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid var(--color-black);
	border-radius: 10px;
}

.products li:hover {
    border: 2px solid var(--color-coffe);
}

.products li:active {
    border: 2px solid var(--color-green);
}

.products h2 {
    transform: scale(1.1);
    font-weight: bold;
	height: 50px;
	transition: .3s all;
}

.products li:hover h2 {
    font-size: 33px;
}

.ppdescripcion {
    font-size: 18px;
}

.pprecio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url('./img/bg.jpg');
    padding: 40px;
}

.copyright {
    color: var(--color-white);
    font-size: 13px;
    margin: 20px;
}